<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aliquam asperiores
  vero nemo dolorem aut pariatur facere, cum culpa velit repudiandae, ex at
  explicabo laboriosam accusantium officiis. Minus, iusto earum.
</p>

<%- include("footer") -%>
